section {
  padding: 70px 0;
}

.home {
  margin-top: 60px;
}
nav ul li a {
  text-transform: uppercase;
}
.home-img {
  width: 100%;
}
.message {
  background: yellow;
  padding: 10px 10px;
  text-transform: uppercase;
  border-radius: 8px;
}
a#right {
  margin-top: -47px;
  font-size: 14px;
  color: #8d8d8d;
  text-transform: uppercase;
}
.images-box img {
  width: 100%;
}
.height {
  height: 340px;
  padding-bottom: 20px;
}
.top {
  margin-top: -70px;
  height: 292px;
}
#show-btn {
  display: block;
  width: 13%;
  margin: 15px auto;
}

img.icon-1 {
  width: 150px;
}
/* end-icon-section  */

/* start-about-section  */
.about h2 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 13px;
}
.about .about-deatails {
  width: 50%;
  padding-bottom: 20px;
}
.about .little-about {
  padding-left: 20px;
}
.about .little-about p {
  padding-bottom: 10px;
}
.about .bg-img {
  height: 250px;
  width: 260px;
  background-repeat: no-repeat;
  position: relative;
}
.about .bg-img-caption {
  color: white;
  background-color: yellow;
  padding: 30px 5px 0px 5px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.about .bg-img-caption h4 {
  line-height: 4px;
  text-transform: capitalize;
  font-size: 20px;
  color: black;
}
.about .bg-img-caption p {
  font-size: 12px;
  padding-bottom: 0px;
}
.about h3 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
}
.about a {
  text-decoration: none;
  color: black;
}
/* end-about-section  */

/* start-blog-css  */

.blog h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 700;
}
.blog p {
  padding-bottom: 20px;
}
.blog img {
  width: 350px;
}
.blog h3 {
  text-transform: capitalize;
}
.blog .img-caption {
  padding-left: 10px;
}
/* end-blog-css  */

/* start-contact-us-css  */
.contact-us h2 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 45px;
}
.contact-us p {
  width: 50%;
}
.contact-us h5 {
  text-transform: uppercase;
  padding-top: 22px;
  font-weight: 700;
}
.contact-us form label {
  text-transform: uppercase;
}
.container input {
  border: none;
  width: 90%;
}
input[type="email"],
[type="text"] {
  padding: 17px 0px;
}

input[type="email"],
[type="text"]:focus {
  outline: none;
  border: none;
}
.container .msg {
  height: 200px;
}
/* end-contact-us-css  */

/* start-footer-css  */
footer {
  color: white;
  background: black;
  padding: 30px 10px;
}
footer img {
  padding-left: 50px;
}
footer a {
  text-decoration: none;
  color: white;
  font: 16px;
  text-transform: uppercase;
  float: right;
  padding-right: 50px;
}
/* end-footer-css  */
